<a href="https://colab.research.google.com/github/vsp219/Test-22/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
File=pd.read_csv("https://raw.githubusercontent.com/vsp219/Test-22/master/TB_data_dictionary_2020-04-02.csv",encoding='latin1')

In [8]:
File.head()

     variable_name  ...                                         definition
0  budget_cpp_dstb  ...  Average cost of drugs budgeted per patient for...
1   budget_cpp_mdr  ...  Average cost of drugs budgeted per patient for...
2   budget_cpp_xdr  ...  Average cost of drugs budgeted per patient for...
3       budget_fld  ...  Budget required for drugs to treat drug-suscep...
4       budget_lab  ...  Budget required for laboratory infrastructure,...

[5 rows x 4 columns]